<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="checkbox" id="jack" value="jack" v-model="checkedNames">
            <label for="jack">jack</label>

            <input type="checkbox" id="john" value="john" v-model="checkedNames">
             <label for="john">john</label>

             <input type="checkbox" id="mike" value="mike" v-model="checkedNames">
             <label for="mike">mike</label>

             <input type="checkbox" id="marry" value="marry" v-model="checkedNames">
             <label for="marry">john</label>

             <hr>
             <span > checked name:{{checkedNames}}</span>



        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                   checkedNames:[]
                }
            })
        </script>
    </body>
</html>