<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>

     <div id="app">
        <ul>
            <li v-for="(item,index) in list">
                name:{{item}}
            </li>
        </ul>


        <hr>
        <ul>
            <li v-for="(item,index) of list">
                {{index}}
                name:{{item}}

            </li>
        </ul>


        <hr>
        <ul>
            <li v-for="(item,key,index) of obj">
                    {{index}}
                    {{key}}
                    {{item}}
             
               

            </li>
        </ul>

        <hr>
        <ul>
            <li v-for="(item,index) of str">
                {{index}}
                name:{{item}}

            </li>
        </ul>


        <hr>
        <ul>
            <li v-for="count in num">
                {{count}}
            
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: ['保罗', '大胡子', '詹姆斯', '科比'],
                obj: {
                    id: 1,
                    name: '世界',
                    price: '300000'
                },
                str: '我好帅',
                num:10,
            }
        })


    </script> 


</body>

</html>