<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
         name: <input type="text" v-model="msg1">
         age: <input type="text" v-model="msg2">
         sex: <input type="text" v-model="msg3">

         <button @click="add">点击我，把input内容输入进去</button>
         <ul>
             <li v-for="(val,key,index) in list">
                 {{val}}-----{{key}}------{{index}}

               </li>
         </ul>
    </div>
    <script>
    let vm=new Vue({
        el:'#app',
        data:{
            msg1:'1',
            msg2:'2',
            msg3:'3',

            list:[{
                id:1,
                name:'zs',
                age:30,
                sex:'女'
            }]
        },
        methods:{
            add(){
                var name=this.msg1;
                var age=this.msg2;
                var sex=this.msg3;
                var id=Math.random()*10;
                this.list.push({id,name,age,sex})
            }
        }

    })
    
    
    
    </script>
   
</body>
</html>